<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.xiangxue.core.UserMapper">

    <select id="selectUserList" parameterType="java.util.Map"  resultType="java.util.Map">
        select id, name, age from sys_user_1
    </select>

    <select id="queryTotal" resultType="java.util.Map">
        select count(*) from sys_user_1
    </select>



</mapper>